In [9]:
import pandas as pd

pd.set_option("display.max_rows", 20)
pd.set_option("display.width", 120)

url = "https://raw.githubusercontent.com/datasciencedojo/datasets/master/titanic.csv"
df = pd.read_csv(url)

df.info()  # no print()

# Clean column names: lowercased, underscores
df.columns = (df.columns
              .str.strip()
              .str.lower()
              .str.replace(" ", "_", regex=False))

# Ensure important columns are numeric
for col in ["age","fare","sibsp","parch","survived","pclass"]:
    df[col] = pd.to_numeric(df[col], errors="coerce")

# Drop rows with missing essential values
df = df.dropna(subset=["age","fare","survived","pclass","sex"])

df.info()

# Survival by sex
by_sex = (df.groupby("sex")["survived"]
            .mean()
            .reset_index(name="survival_rate")
            .sort_values("survival_rate", ascending=False))
print(by_sex)

# Multi-agg per class
pclass_summary = (df.groupby("pclass")
                    .agg(
                        passengers=("survived","count"),
                        survival_rate=("survived","mean"),
                        avg_age=("age","mean"),
                        total_fare=("fare","sum"),
                    )
                    .reset_index())
print(pclass_summary)

# Top-K per class (set k=3 to match the name)
k = 3
df_sorted = df.sort_values(["pclass","fare"], ascending=[True, False])
topk_by_class = (df_sorted
                 .groupby("pclass", group_keys=False)
                 .head(k))
print(topk_by_class[["pclass","sex","age","fare","survived"]])

# Best per class by age (max survival rate)
rate_by_age_class = (df.groupby(["pclass","age"])["survived"]
                       .mean()
                       .reset_index(name="survival_rate"))
idx = rate_by_age_class.groupby("pclass")["survival_rate"].idxmax()
best_per_class = rate_by_age_class.loc[idx]
print(best_per_class)

# Pivot: survival by sex x class (as %)
pivot_pct = (pd.pivot_table(
    df, values="survived", index="pclass", columns="sex", aggfunc="mean", margins=True
) * 100).round(1)
print(pivot_pct)

# Distributions
print(df["embarked"].value_counts(dropna=False))
print(df["pclass"].value_counts(normalize=True))

# Assertions
assert by_sex.shape[0] == df["sex"].nunique()
assert {"pclass","survival_rate"}.issubset(pclass_summary.columns)

# Export
by_sex.to_csv("day3_by_sex.csv", index=False)
pclass_summary.to_csv("day3_pclass_summary.csv", index=False)
topk_by_class.to_csv("day3_top3_fare_by_class.csv", index=False)
pivot_pct.to_csv("day3_pivot_survival_sex_pclass.csv")

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB
<class 'pandas.core.frame.DataFrame'>
Index: 714 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   passengerid  714 non-null    int64
 1   survived     714 non-null    int64
 2   pclass       714 non-null    int64
 3   name         714 non-null    object
 4   sex          714 non-null    object
 5   age          714 non-null    float64
 6   sibsp        714 non-null    int64
 7   parch        714 non-null    int64
 8   ticket       714 non-null    object
 9   fare         714 non-null    float64
 10  cabin        185 non-null    object
 11  embarked     712 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 72.5+ KB
      sex  survival_rate
0  female       0.754789
1    male       0.205298
   pclass  passengers  survival_rate    avg_age  total_fare
0       1         186       0.655914  38.233441  16360.8543
1       2         173       0.479769  29.877630   3714.5792
2       3         355       0.239437  25.140620   4696.4495
     pclass     sex   age      fare  survived
258       1  female  35.0  512.3292         1
679       1    male  36.0  512.3292         1
737       1    male  35.0  512.3292         1
72        2    male  21.0   73.5000         0
120       2    male  21.0   73.5000         0
385       2    male  18.0   73.5000         0
74        3    male  32.0   56.4958         1
169       3    male  28.0   56.4958         0
509       3    male  26.0   56.4958         1
     pclass   age  survival_rate
0         1  0.92            1.0
57        2  0.67            1.0
114       3  0.42            1.0
sex     female  male   All
pclass
1         96.5  39.6  65.6
2         91.9  15.2  48.0
3         46.1  15.0  23.9
All       75.5  20.5  40.6
embarked
S      554
C      130
Q       28
NaN      2
Name: count, dtype: int64
pclass
3    0.497199
1    0.260504
2    0.242297
Name: proportion, dtype: float64