In [22]:
import pandas as pd
import seaborn as sns

df = sns.load_dataset("titanic").copy()

df = df.dropna(subset=["age"])

df.head()


mask_high_fare = df["fare"] > 50

high_fare = (df.loc[mask_high_fare,["sex","age","class","fare","survived"]]
                                    .sort_values("fare", ascending=False)
                                    .reset_index(drop=True))

high_fare.head()

mask_female_first = (df["sex"] == "female") & (df["class"] == "First")
mask_male_third = (df["sex"] == "male") & (df["class"] == "Third")

female_first = (df.loc[mask_female_first,["sex","age","class","fare","survived"]]
                                    .sort_values("fare", ascending=False)
                                    .head(5)
                                    .reset_index(drop=True))

male_third = (df.loc[mask_male_third,["sex","age","class","fare","survived"]]
                                    .sort_values("fare", ascending=False)
                                    .head(5)
                                    .reset_index(drop=True))

male_third.head()
female_first.head()

children = df.loc[df["age"] < 12, ["sex","age","class","fare","survived"]]
children_sorted = children.sort_values(["class","fare"], ascending=[True,False]).reset_index(drop=True)
children_sorted.head(10)

mask_vip_or_kid = (df["fare"]>100) | (df["age"]<10)

vip_or_kid = (df.loc[mask_vip_or_kid, ["sex","age","class","fare","survived"]]
              .sort_values("fare", ascending=False)
              .reset_index(drop=True))

vip_or_kid.head(10)

out = pd.concat([
    female_first.assign(tag="female_first_top5"),
    male_third.assign(tag="male_third_top5"),
    children_sorted.head(5).assign(tag="children_top5")
], ignore_index=True)

print(out.head(15))
out.to_csv("titanic_day2_filters.csv", index=False)

out.to_csv("titanic_day2_filters_tagged.csv", index=False)

       sex    age   class      fare  survived                tag
0   female  35.00   First  512.3292         1  female_first_top5
1   female  23.00   First  263.0000         1  female_first_top5
2   female  24.00   First  263.0000         1  female_first_top5
3   female  18.00   First  262.3750         1  female_first_top5
4   female  21.00   First  262.3750         1  female_first_top5
5     male  32.00   Third   56.4958         1    male_third_top5
6     male  28.00   Third   56.4958         0    male_third_top5
7     male  26.00   Third   56.4958         1    male_third_top5
8     male  32.00   Third   56.4958         1    male_third_top5
9     male  11.00   Third   46.9000         0    male_third_top5
10  female   2.00   First  151.5500         0      children_top5
11    male   0.92   First  151.5500         1      children_top5
12    male  11.00   First  120.0000         1      children_top5
13    male   4.00   First   81.8583         1      children_top5
14  female   3.00  Second   41.5792         1      children_top5